body{
    background-color: #007dbe;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
}
.logoweb{
    background-size: 100%;
    background-color: #007dbe;
    max-width: 100%;
}

/*NAVBAR*/


.navbar {
    overflow: hidden;
    justify-content: left;
    padding: 0 15% 0 15%;
    margin-bottom: 30px;
    height: 66px;
}

.navbar-inferior {
    height: 33px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #e21921;
}

.navbar a {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 33px;
}


.conenedor-nav{
    width: 100%;
    background-color: #e21921;
    height: 66px;
}
.conenedor-nav-red{
    width: 100%;
    height: 33px;
    margin-bottom: 60px;
    background-color: #191919;
}

.subnav {
    height: 33px;
    padding: 0;
    margin: 0px;
    float: left;
    overflow: hidden;
}


.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 33px;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #e21921;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #e21921;
    width: 100%;
    z-index: 1;
    padding: 0 15% 0 15%;
    float: left;
    color: white;
    height: 33px;
    text-decoration: none;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content{
    display: block;
}
.activenav{
    color: #e21921;
}
/*NAVBAR*/

/*CONTENEDOR*/
.contenedor {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 50px -2px rgba(0,0,0,.3);
}
/*CONTENEDOR*/

/*SECCION PRINCIPAL*/
.seccion-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    background-color: #007dbe;
}

/*CAROUSEL RESULTADOS*/
.carrusel-resultados {
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #007dbe;
    margin-bottom: 1%;
}
@media only screen and (max-width: 768px) {
    .carrusel-resultados,
    .carousel-inner,
    .carousel-item,
    .rowcarrusel{
        height: 6rem;
        background-color: red;
    }
}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    width: 400%;
    transition: transform 0.4s ease-in-out;
}

.slide {
    display: flex;
    width: 100%;
    height: auto;
}

.carousel-control-next,
.carousel-control-prev{
    display: inline-block;
    width: 1.5em;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.boxl{
    width: 49.5%;
    height: 2.5rem;
    background-color: #f1f1f1;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    vertical-align: middle;
    margin-right: 1%;
}
.boxr {
    width: 49.5%;
    height: 2.5rem;
    background-color: #f1f1f1;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: initial;
    vertical-align: middle;
}

.arrows{
    width: 1.2rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
/*CAROUSEL RESULTADOS*/

/*CARRUSEL NOTICIAS*/
.carousel-caption{
    width: 100%;
    margin: 0 0 0 -96px;
}

/*.carousel-indicators{*/
/*    width: 70%;*/
/*    height: 90px;*/
/*    background-color: red;*/
/*    margin-bottom: -200px;*/
/*}*/

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.noticia{
    width: 100px;
    height: 50px;
    background-color: red;
}

.carousel-control-nextn, .carousel-control-prevn{
    display: inline-block;
    width: 1.5em;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    border: 0;
}
/* Estilos para el fondo */
.background {
    background-image: url('../assets/img/noticia3.webp'); /* Coloca aquí la ruta a tu imagen de fondo */
    background-size: cover;
    position: relative;
    height: 90vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilos para el div encima del fondo */
.foreground {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilos para el botón */
.button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .background {
        height: auto;
    }

    .foreground {
        height: auto;
        padding: 10px;
    }

    .button {
        font-size: 14px;
    }
}

/* Estilos para el div negro */

.black-div {
    background-color: black;
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 10px;
}
.child-div{
    padding: 5px;
    flex: 1;
    height: 100%;
    width: calc(100% / 4);
    position: relative;
}


.child-div img, .child-img {
    width: 100%;
    height: 50%;
    background-image: url("../assets/img/noticia2.jpg");
    background-size: cover;
}

.date-time {
    position: relative;
    top: 20vh;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
}

.date {
    font-size: 2.5vh ;
    margin: 0;
    color: #e21921;
    text-align: left;
    font-family: Montserrat,arial,sans-serif;
}

.title {
    font-size: 2.5vh;
    margin: 0;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .black-div {
        display: none;
    }
}

/* Estilos para los divs hijos */

.child-div {
    flex: 1;
    height: 100%;
    width: calc(100% / 4);
}
/*CAROUSEL NOTICIAS*/

/*SOCIALS BANNERS*/
.entrada-banner{
    background-image: url("../../resources/assets/img/entradas-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left;
}

.twitter-banner{
    background-image: url("../../resources/assets/img/twitter-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.instagram-banner {
    background-image: url("../../resources/assets/img/instagram-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.youtube-banner{
    background-image: url("../../resources/assets/img/youtube-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
/*SOCIALS BANNERS*/
.cuadros {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cuadro {
    width: 24%;
    height: 4.688rem;
    padding: 0;
    margin: 0 1.33% 0 0;
}

.cuadro-derecha {
    width: 24%;
    height: 4.688rem;
    padding: 0;
}

@media only screen and (max-width: 768px){
    .cuadro {
        width: 100%;
        height: 4.688rem;
        padding: 0;
    }

    .cuadro-derecha {
        width: 100%;
        height: 4.688rem;
        padding: 0;
    }
}



.cuadro a, .cuadro-derecha a {
    display: block;
    height: 100%;
}

.cuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.imagen {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.imagen img {
    width: 40%;
    height: auto;
    object-fit: cover;
    margin-right: 0;
}

.tabla {
    width: 100%;
}

.tabla h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.tabla-responsive {
    overflow-x: auto;
}

.tabla-responsive table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-responsive th,
.tabla-responsive td {
    text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;

}

@media only screen and (max-width: 768px) {
    .tabla-responsive {
        overflow-x: scroll;
    }
}

.menu-lateral {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    background-color: #f5f5f5;
    padding: 20px;
}

.carrito{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 1rem;
}

.proximos-eventos-baloncesto {
    display: flex;
    flex-direction: column;
}

.evento {
    display: flex;
    align-items: center;
}

.cuadrado-rojo, .cuadrado-negro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    height: 100%;
    border-radius: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.cuadrado-rojo {
    background-color: #f44336;
}

.cuadrado-negro {
    background-color: #212121;
}

.info-evento {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.hora {
    font-size: 20px;
    font-weight: bold;
}

.lugar {
    margin-top: 5px;
    font-size: 16px;
}

.tipo {
    margin-top: 5px;
    font-size: 16px;
}

.jornada {
    margin-top: 5px;
    font-size: 16px;
}

.equipos {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}


.empty-cart {
    padding: 20px;
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-dark {
    background-color: #343a40;
}

.ticket-sales {
    background-color: black;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.carrito {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.empty-cart {
    padding: 20px;
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-dark {
    background-color: #343a40;
}

.ticket-sales {
    background-color: black;
    padding: 40px;
    text-align: center;
    margin: 20px;
}

.carrito-title {
    color: white;
}

.carrito {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.empty-cart {
    padding: 20px;
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-primary {
    background-color: #007bff;
}

.success-message {
    color: green;
    font-weight: bold;
}
