body{
    background-color: #007dbe;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
}
.logoweb{
    background-size: 100%;
    background-color: #007dbe;
    max-width: 100%;
}

a{
    text-decoration: none;
}
/*NAVBAR*/


.navbar {
    overflow: hidden;
    justify-content: left;
    padding: 0 15% 0 15%;
    margin-bottom: 30px;
    height: 66px;
}

.navbar-inferior {
    height: 33px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #e21921;
}

.navbar a {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 33px;
}


.conenedor-nav{
    width: 100%;
    background-color: #e21921;
    height: 66px;
}
.conenedor-nav-red{
    width: 100%;
    height: 33px;
    margin-bottom: 60px;
    background-color: #191919;
}

.subnav {
    height: 33px;
    padding: 0;
    margin: 0px;
    float: left;
    overflow: hidden;
}


.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 33px;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #e21921;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #e21921;
    width: 100%;
    z-index: 1;
    padding: 0 15% 0 15%;
    float: left;
    color: white;
    height: 33px;
    text-decoration: none;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content{
    display: block;
}
.activenav{
    color: #e21921;
}
/*NAVBAR*/

/*CONTENEDOR*/
.contenedor {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 50px -2px rgba(0,0,0,.3);
}
/*CONTENEDOR*/

/*SECCION PRINCIPAL*/
.seccion-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    background-color: #007dbe;
}

/*CAROUSEL RESULTADOS*/
.carrusel-resultados {
    font-size: 12px;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #007dbe;
    margin-bottom: 1%;
}
@media only screen and (max-width: 768px) {
    .carrusel-resultados,
    .carousel-inner,
    .carousel-item,
    .rowcarrusel{
        height: 6rem;
        background-color: red;
    }
}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    width: 400%;
    transition: transform 0.4s ease-in-out;
}

.slide {
    display: flex;
    width: 100%;
    height: auto;
}

.carousel-control-next,
.carousel-control-prev{
    display: inline-block;
    width: 1.5em;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.boxl{
    width: 49.5%;
    height: 2.5rem;
    background-color: #f1f1f1;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    vertical-align: middle;
    margin-right: 1%;
}
.boxr {
    width: 49.5%;
    height: 2.5rem;
    background-color: #f1f1f1;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: initial;
    vertical-align: middle;
}

.arrows{
    width: 1.2rem;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
/*CAROUSEL RESULTADOS*/

/*CARRUSEL NOTICIAS*/
.carousel-caption{
    width: 100%;
    margin: 0 0 0 -96px;
}

/*.carousel-indicators{*/
/*    width: 70%;*/
/*    height: 90px;*/
/*    background-color: red;*/
/*    margin-bottom: -200px;*/
/*}*/

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.noticia{
    width: 100px;
    height: 50px;
    background-color: red;
}

.noticiasVarias {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: left;
  }

  .noticiasVarias img {
    width: 100%;
    margin-bottom: 20px;
  }

  .noticiasVarias h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000000;
  }

  .noticiasVarias p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .noticiasVarias strong {
    font-weight: bold;
  }

.carousel-control-nextn, .carousel-control-prevn{
    display: inline-block;
    width: 1.5em;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    border: 0;
}
/* para el fondo */
.background {
    background-image: url('../assets/img/noticia3.webp'); /* Coloca aquí la ruta a tu imagen de fondo */
}
.background, .background2, .background3, .background4{
    background-size: cover;
    position: relative;
    height: 90vh;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.background2{
    background-image: url('../assets/img/noticia4.webp')
}

.background3{
    background-image: url('../assets/img/noticia5.png')
}

.background4{
    background-image: url('../assets/img/noticia6.png')
}

/* para el div encima del fondo */
.foreground {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* para el botón */
.button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .background {
        height: auto;
    }

    .foreground {
        height: auto;
        padding: 10px;
    }

    .button {
        font-size: 14px;
    }
}

/* para el div negro */

.black-div {
    background-color: black;
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 10px;
}
.child-div{
    padding: 5px;
    flex: 1;
    height: 100%;
    width: calc(100% / 4);
    position: relative;
}


.child-div img, .child-img, .child-img1, .child-img2, .child-img3{
    width: 100%;
    height: 40%;
    background-size: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left;
}

.child-img{
    background-image: url('../assets/img/noticia1.jpg')
}

.child-img1{
    background-image: url('../assets/img/noticia7.jpg')

}

.child-img2{
    background-image: url('../assets/img/noticia8.jpg')

}

.child-img3{
    background-image: url('../assets/img/noticia9.jpg');
    background-size: 120%;
    background-position:80% 90%;

}



.date-time {
    position: relative;
    top: 24vh;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5px;
}

.date {
    font-size: 2.5vh ;
    margin: 0;
    color: #e21921;
    text-align: left;
    font-family: Montserrat,arial,sans-serif;
}

.title {
    font-size: 2.5vh;
    margin: 0;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .black-div {
        display: none;
    }
}

/* para los divs hijos */

.child-div {
    flex: 1;
    height: 100%;
    width: calc(100% / 4);
}
/*CAROUSEL NOTICIAS*/

/*SOCIALS BANNERS*/
.entrada-banner{
    background-image: url("../../resources/assets/img/entradas-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left;
}

.twitter-banner{
    background-image: url("../../resources/assets/img/twitter-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.instagram-banner {
    background-image: url("../../resources/assets/img/instagram-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.youtube-banner{
    background-image: url("../../resources/assets/img/youtube-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
/*SOCIALS BANNERS*/
.cuadros {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cuadro {
    width: 24%;
    height: 4.688rem;
    padding: 0;
    margin: 0 1.33% 0 0;
}

.cuadro-derecha {
    width: 24%;
    height: 4.688rem;
    padding: 0;
}

@media only screen and (max-width: 768px){
    .cuadro {
        width: 100%;
        height: 4.688rem;
        padding: 0;
    }

    .cuadro-derecha {
        width: 100%;
        height: 4.688rem;
        padding: 0;
    }
}



.cuadro a, .cuadro-derecha a {
    display: block;
    height: 100%;
}

.cuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagenes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.imagen {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.imagen img{
    width: 70%;
    height: auto;
    object-fit: cover;
    margin-right: 0;
}

.image-container, .image-container1, .image-container2, .image-container3 {
    min-width: 300px;
    height:25vh;
}

.image-container{
    background-image: url("../assets/img/noticia4.webp");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}


.image-container1{
    background-image: url("../assets/img/noticia6.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}


.image-container2{
    background-image: url("../assets/img/noticia5.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}


.image-container3{
    background-image: url("../assets/img/noticia3.webp");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}


.tabla {
    width: 100%;
}

tr{
    border-bottom: 1px solid #e21921;
}


.tabla h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.tabla-responsive {
    overflow-x: auto;
}

.tabla-responsive table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-responsive th,
.tabla-responsive td {
    text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;

}

@media only screen and (max-width: 768px) {
    .tabla-responsive {
        overflow-x: scroll;
    }
}

.menu-lateral {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    background-color: #f5f5f5;
    padding: 20px;
}

.carrito{
    background-color: #f5f5f5;
    padding: 20px;
    margin: 1rem;
}

.proximos-eventos-baloncesto {
    display: flex;
    flex-direction: column;
}

.evento {
    display: flex;
    align-items: center;
}

.cuadrado-rojo, .cuadrado-negro {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    height: 100%;
    border-radius: 1%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.cuadrado-rojo {
    background-color: #f44336;
}

.cuadrado-negro {
    background-color: #212121;
}

.info-evento {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-left: 20px;
}

.hora {
    font-weight: bold;
}

.lugar {
    margin-top: 5px;
}

.tipo {
    margin-top: 5px;
}

.jornada {
    margin-top: 5px;
}

.equipos {
    margin-top: 5px;
    font-weight: bold;
}


.empty-cart {
    padding: 20px;
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-dark {
    background-color: #343a40;
}

.ticket-sales {
    background-color: black;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.carrito {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.empty-cart {
    padding: 20px;
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-dark {
    background-color: #343a40;
}

.ticket-sales {
    background-color: black;
    padding: 40px;
    text-align: center;
    margin: 20px;
}

.carrito-title {
    color: white;
}

.carrito {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.empty-cart {
    padding: 20px;
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-primary {
    background-color: #007bff;
}

.success-message {
    color: green;
    font-weight: bold;
}


.imagen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
}

.imagen p {
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
}

.leer-mas {
    width: 100px;
    margin-top: 100px;
    display: inline-block;
    text-decoration: none;
    background: #020202;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 13px 14px 15px;
    font-size: 11px;
    margin-right: 15px;
    position: absolute;
    right: 40%;
}


.card {
    border: 1px solid #ddd;
}

.card-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.card-header h5 {
    margin-bottom: 0;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-success:hover {
    background-color: #218838;
    color: #fff;
}

.text-muted {
    color: #6c757d;
}

.text-muted a {
    color: #6c757d;
}

.text-muted a:hover {
    color: #6c757d;
    text-decoration: underline;
}

.alert {
    margin-bottom: 20px;
}

.alert button {
    position: relative;
    top: -2px;
}

@media (max-width: 576px) {
    .form-group.row {
        margin-left: 0;
        margin-right: 0;
    }

    .form-group.row [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }

    .form-group.row + .form-group.row {
        margin-top: 20px;
    }

    .form-group.row .col-md-8 {
        margin-top: 10px;
    }
}

.player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.player-image {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.player-name {
    margin-top: 10px;
    font-weight: bold;
}

.player-position {
    margin-top: 5px;
    color: #666;
}



.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
  }

  .year {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .event {
    margin-bottom: 20px;
  }

  .event h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .event p {
    font-size: 14px;
    margin-top: 5px;
  }
.jugador {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.nombre {
    font-weight: bold;
    margin-bottom: 5px;
}

.dorsal {
    color: gray;
}

.plantilla {
    text-align: center;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}

.posiciones {
    color: #e21921;
    font-size: 25px;
    margin-top: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #dedede;
}



.jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.jugador {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.nombre {
    font-weight: bold;
    margin-bottom: 5px;
}

.dorsal {
    color: gray;
}

.foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #191919;
}

.foto img{
    background-size: cover;
    position: absolute;
    height: 100px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.j1{
    background-image: url("../assets/img/j1.png");
}

.j2{
    background-image: url("../assets/img/j2.png");
}

.j3{
    background-image: url("../assets/img/j3.png");
}

.j4{
    background-image: url("../assets/img/j4.png");
}

.j5{
    background-image: url("../assets/img/j5.png");
}

.j6{
    background-image: url("../assets/img/j6.png");
}

.j7{
    background-image: url("../assets/img/j7.png");
}

.j8{
    background-image: url("../assets/img/j8.png");
}

.j9{
    background-image: url("../assets/img/j9.png");
}

.j10{
    background-image: url("../assets/img/j10.png");
}

.j11{
    background-image: url("../assets/img/j11.png");
}

.j12{
    background-image: url("../assets/img/j12.png");
}

.pabellon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.pabellon-info {
    flex: 1;
    padding: 20px;
}

.pab {
    color: #555555;
    margin-bottom: 10px;
}

.pabellon-info p {
    line-height: 1.5;
}

.pabellon-image {
    flex: 1;
    text-align: center;
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/pab.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    padding: 50px;
    margin-right: 20px;
}

@media only screen and (max-width: 900px){
    .pabellon{
        flex-direction: column;
        height: auto;
    }
    .pabellon-image{
        padding: 120px;
        margin: 10px 0px;
    }
}

.fotopab {
    max-width: 100px;
    max-height: 100px;
    height: auto;
}

.team-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.team-logo {
    max-width: 50px;
}

.vs-text {
    font-size: 18px;
    font-weight: bold;
}

.match-details {
    margin-bottom: 20px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.detail-label {
    font-weight: bold;
}

.detail-value {
    margin-left: 10px;
}
